.experience_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #A884E8;
  flex-direction: column;
  padding: 80px 0 60px 0;
  transition: 0.3s linear;

  .experience_page_title {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      transition: 0.3s linear;
    }
  }

  .display_experience {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 60px 0;
    background: #7A3BE4;
    border-radius: 25px;
    transition: 0.3s linear;
  }
}