.experience_component_box {
  width: 80%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 0 60px;
  transition: 0.3s linear;
  border-top: 3px solid #7E10D4;
  border-bottom: 3px solid #7E10D4;
}
@media (max-width: 1024px) {
  .experience_component_box {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
}
.experience_component_box .experience_name_percent {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.experience_component_box .experience_name_percent .experience_name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1024px) {
  .experience_component_box .experience_name_percent .experience_name {
    justify-content: center;
  }
}
.experience_component_box .experience_name_percent .experience_name h3 {
  font-size: 30px;
  color: #fff;
  transition: 0.3s linear;
}
@media (max-width: 1024px) {
  .experience_component_box .experience_name_percent .experience_name h3 {
    text-align: center;
  }
}
@media (max-width: 840px) {
  .experience_component_box .experience_name_percent .experience_name h3 {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .experience_component_box .experience_name_percent .experience_name h3 {
    font-size: 24px;
  }
}
@media (max-width: 560px) {
  .experience_component_box .experience_name_percent .experience_name h3 {
    font-size: 22px;
  }
}
@media (max-width: 460px) {
  .experience_component_box .experience_name_percent .experience_name h3 {
    font-size: 20px;
  }
}
.experience_component_box .experience_name_percent .exp_name_is_odd {
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .experience_component_box .experience_name_percent .exp_name_is_odd {
    justify-content: center;
    align-items: center;
  }
}
.experience_component_box .experience_name_percent .experience_percent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1024px) {
  .experience_component_box .experience_name_percent .experience_percent {
    align-items: center;
  }
}
.experience_component_box .experience_name_percent .experience_percent p {
  font-size: 24px;
  font-weight: bold;
  color: yellowgreen;
  transition: 0.3s linear;
}
@media (max-width: 768px) {
  .experience_component_box .experience_name_percent .experience_percent p {
    font-size: 22px;
  }
}
@media (max-width: 560px) {
  .experience_component_box .experience_name_percent .experience_percent p {
    font-size: 20px;
  }
}
.experience_component_box .experience_name_percent .experience_percent .percente_line {
  width: 500px;
  height: 6px;
  background: #ccc;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .experience_component_box .experience_name_percent .experience_percent .percente_line {
    width: 100%;
  }
}
.experience_component_box .experience_name_percent .experience_percent .percente_line .skill_line {
  width: auto;
  height: 6px;
  background: yellowgreen;
}
.experience_component_box .experience_name_percent .exp_name_is_odd {
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .experience_component_box .experience_name_percent .exp_name_is_odd {
    align-items: center;
  }
}
.experience_component_box .experience_icon {
  width: 150px;
  height: 150px;
}
@media (max-width: 1024px) {
  .experience_component_box .experience_icon {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 840px) {
  .experience_component_box .experience_icon {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 560px) {
  .experience_component_box .experience_icon {
    width: 90px;
    height: 90px;
  }
}
.experience_component_box .experience_icon img {
  width: 100%;
  height: 100%;
}

.is_odd {
  flex-direction: row-reverse;
}
@media (max-width: 1024px) {
  .is_odd {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
}/*# sourceMappingURL=ExperienceComp.css.map */